div#menuArrowUp, div#menuArrowDown, div.menuSpacerTop, div.menuSpacerBottom{
	background: url('../images/sk_horizontal_bg_repeat.png') ;
}
div.genericMenuContainer div.menuSpacerTop{
	background: none;
}
p.addressInfo a{
	color: white;
	text-decoration: underline;
}